:root {
    --primary:#0080FF;
    --primary-hover:rgba(223, 239, 255, 1);
    --text-color:#ADADAD;
    --white: #ffffff;
    --black:#161618;
    /* --bg-yellow:#FFC200; */
    --bg-yellow:#ff2600;
    /* --bg-yellow:orangered; */
    --bg-hover:rgba(22,22,24,.06);
    --box-shadows:rgba(0, 0, 0, 0.12);
    --box-shadows2:rgba(22,22,24,.2);
    --red:rgba(255, 95, 95, 1);
    --btn-hover-color:rgba(217, 237, 255, 1);
    --boder-color:rgba(218, 218, 218, 1);
    --gray-dark: #343a40;
    --green:rgb(39, 185, 39);
    --width:1240px;
    --boder-radius:2px;;
    --orange :#FFC200;
    /* --width:calc(100% - 20px); */

}
* {
    box-sizing: inherit;
}
.disabled{
  background-color: rgb(170, 167, 167) !important;
  color: white !important;
  cursor: not-allowed !important;
}
.disabled:hover{
  background-color: rgb(170, 167, 167) !important;
  color: white !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}
html {
    line-height: 1.6rem;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body {
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: currentColor;
}
img{
    width: 100%;
}
button{
    border: none;
    outline: none;
    background-color: transparent;
}
input{
    border: 1px solid rgba(22,22,24,.12);
    outline: none;
}
select{
    outline: none;
}
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.app{
    font-size: 1.6rem;
}
.btn--primary {
    background-color: var(--primary);
    color: var(--white);
}
.btn--primary:hover{
    opacity: .9;
}
.app{
    width: 100%;
}
@media screen and (max-width:1200px){
    :root{
        --width:100%;
    }
    .wrapper{
        padding:0 10px;
    }

}
@media screen and (max-width:500px){
    html {
        line-height: 1.8rem;
        font-size: 50%;
        
    }
}



/* custom select end--------------------*/
/* form */
/* .signup {
    background-color: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 360px;
    min-height: 100px;
    padding: 28px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 2rem;
}


.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 2px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-control:hover {
    color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 26px;
} */
/* ======= Toast message ======== */

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
    /* background-color: white; */
    /* color: black; */
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 8px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
    transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .no-data{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: rgb(227, 9, 9);
    padding: 40px;
  }
  /* snackbar */
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(7, 160, 7);
    box-shadow:0 0 6px rgb(70, 69, 69);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #snackbar.toast-error{
    background-color: red;
  }
  
  @-webkit-keyframes fadein {
    from {top: -30px; opacity: 0;} 
    to {top: 0; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: -30px; opacity: 0;}
    to {top: 0; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top:0; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  .l-back-home{
    padding-top: 40px;
  }
  .home-btn{
    margin-top: 40px;
    /* border: 1px solid var(--primary); */

    background-color: #f6f3f3;
    color: var(--primary);
    padding: 10px 30px;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .no-orders{
    color: red;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 30px 0;
  }
  /*  */
  .fa-star-half-stroke{
    color: var(--orange);
}
.fa-star.gray{
  color: rgba(22,22,24,.2);
}
.product-stars{
  display: flex;
}